@using Epam.Task11.WebPages.CS;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    Layout = "~/_MainLayout.cshtml";
    Page.Title = "UserAwards";

    var accounts = BLLProvider.AccountLogic.GetAll().ToArray();
}

@section scripts{
    <script>
        function changeAccountRole(form) {
            var formId = form.id;
            var loginId = "#" + formId + "login";
            var roleId = "#" + formId + "role";
            var $account_login = $(loginId);
            var $account_role = $(roleId);
            var $result = $("#result");
            $.ajax({
                method: "POST",
                url: "/Pages/Ajax/AccountRolesAjax",
                data: {
                    account_login: $account_login.text(),
                    account_role: $account_role.text().replace(/\n/g, "")
                },
                success: function (response) {
                    if (response == 0) {
                        $result.text("Cannot to give/take admin role");
                    }
                    else {
                        $(roleId).text(response);
                    }
                },
                error: function () { $result.text(error_message); }
            });
        }
    </script>
}

@section styles {
    <link href="/Content/css/navigation.css" rel="stylesheet" />
    <link href="/Content/css/content.css" rel="stylesheet" />
}

@RenderPage("/Pages/Partial/_NavigationPartial.cshtml")

<section class="content">
    <div id="result"></div>

    <ul>
        <li>Site users count: @accounts.Length</li>

        @for (int i = 0; i < accounts.Length; i++)
        {
            <li>
                <form method="post" class="submit_role" id="@i" onsubmit="changeAccountRole(this)">
                    <span>
                        login: <span id="@(i)login">@accounts[i].Login</span>
                        role: <span id="@(i)role">@accounts[i].Role</span>
                    </span>

                    <input type="submit" class="change_role" value="Change Role" />
                </form>
            </li>
        }
    </ul>
</section>