@{
    Layout = "/_MainLayout.cshtml";
    Page.Title = "Work with site users roles";
    var accounts = Epam.Task11.WebPages.CS.BLLProvider.AccountLogic.GetAll().ToList();
    int accCount = accounts.Count() - 1;
    int i = 1;
}

@section styles {
    <link href="/Content/css/navigation.css" rel="stylesheet" />
    <link href="/Content/css/content.css" rel="stylesheet" />
}

@section scripts {
    <script>
        function sendForm(form) {
            var error_message = "Cannot to give/take admin role";
            var $site_user_login = form.site_user_login.value;
            var $site_user_role = form.site_user_role.value;
            var $result = $("#result");
            $.ajax({
                method: "POST",
                url: "/Pages/Ajax/UserRolesAjax",
                data: {
                    site_user_login: $site_user_login,
                    site_user_role: $site_user_role,
                },
                success: function (response) {
                    if (response == 0) {
                        $result.text(error_message);
                    }
                    else {
                        $("@(i)role").text(response);
                    }
                },
                error: function () { $result.text(error_message); }
            })
        }
    </script>
}

@RenderPage("/Pages/Partial/_NavigationPartial.cshtml")

<section class="content">
    <div id="result"></div>

    <ul>
        <li>Site users count: @accCount</li>

        @for (; i < accounts.Count(); i++)
        {
            <li>
                <form class="submit_role" id="@i" onsubmit="sendForm(this)" method="post">
                    <span>login: @accounts[i].Login role: <span id="@(i)role">@accounts[i].Role</span></span>

                    <input type="hidden" name="site_user_login" value="@accounts[i].Login" />
                    <input type="hidden" name="site_user_role" value="@accounts[i].Role" />

                    <input type="submit" class="change_role" value="Change Role" />
                </form>
            </li>
        }
    </ul>
</section>
